/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My Styles -------------------- */

body{
    background: #333;
    color: white;
}

.app{
    text-align: center;
}

.app h2{
    margin: 2rem 0 2rem 0;
    font-size: 30px;
}

.taskBg{
    background-color: #555;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
}

.taskBg .done .taskText{
    text-decoration: line-through;
    opacity: 0.3;


}

.taskBg .taskText{
    flex: 1;
}

.taskBg div{
    display: flex;
    align-items: center;
}


.taskNumber{
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    width: 26px;
    height:26px;
    display: flex;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

/* icons -------- */

.taskBg .iconsWrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
}

.taskBg .iconsWrap span{
    color: #00ff89;
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px ;
}

.taskBg .iconsWrap span:hover{
    color: yellow;
  
}

.mr-20{
    margin-right: 20px;
}